*{
  margin: 0;
  padding: 0;
}
.nav{
  height: 40px;
  padding:0 10px 0 10px;
  position: relative;
  background-color: rgb(162, 188, 201);
}
ul{
  display: inline-block;
  margin-left: 10px;
}
li{
  width: 50px;
  height: 40px;
  display: inline-block;
  float: left;
}
.denglu{
  
  position: absolute;
  right: 10px;
  top: 5px;
}
.denglu button{
  border: 0;
  background-color: rgb(162, 188, 201);
  color: #fff;
}
a{
  text-decoration: none;
}
.nav a{
  
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  top: 10px;
}
.nav a:hover{
  border-bottom: 1px solid rgb(5, 231, 220);
}
.back{
  background-image: url(https://tse1-mm.cn.bing.net/th/id/R-C.395ac6d9ed4489278e42304f5df6230a?rik=rMbehv2IY40WmA&riu=http%3a%2f%2fwww.pp3.cn%2fuploads%2f20120713j%2f527.jpg&ehk=aU5j8Zk3G%2brJTaflwuLN8ynFPbGTj1DkoYbX8WrsPTg%3d&risl=&pid=ImgRaw&r=0);
 background-repeat: no-repeat;
 background-size: 100%;
}
.logo img{
  width: 36px;
  height: 36px;
  margin: 0 auto;
}

#box {
  width: 450px;
  height: 130px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
p {
  color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 25px;
}
#time {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  margin-top: -40px;
  line-height: 40px;
  color: #fff;
}


#Sign{
  width: 340px;
  height: 350px;
  background-color: rgba(7, 7, 7, 0.231);
  margin: 0 auto;
  position: fixed;
  top: 200px;
  left: 600px;
}
.x{
  width: 30px;
  height: 30px;
  position: absolute;
  right: -30px;
}
.hea{
  margin-bottom: 20px;
}
.hea span{
  display: inline-block;
  width: 165px;
  height: 47px;
   line-height: 47px;
  text-align: center;
  border: 0;
}
.hea span a{
  color: #fff;
  border-bottom: 2px solod #fff;
}
.boy{
  margin-left: 20px;
  color: #fff;
  font-size: 13px;
}
.boy input{
  width: 280px;
  height: 50px;
  border: none;
  border-bottom: 2px solid rgb(14, 152, 232);
  outline: 0;
  margin-top: 20px;
  background-color:rgba(7, 7, 7, 0) ;
  
}
.but button{
  width: 280px;
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
  background-color:transparent;
  border: none;
  color: #fff;
}