
  *{
    margin: 0;
    padding: 0;
  }
   ul{
     list-style: none;
     margin-top: 19px;
    display: inline-block;
     
   }
   li{
     display: inline;
     margin-left: 24px;
     
     font-size: 13px;
   }
   a{
    color: #222;
     text-decoration: none;
   }
   #nav ul:nth-child( 2 ){
     float: right;
     margin-right: 24px;
   }
   .LoSg{
     width: 1000px;
     height: 387.77px;
     margin: auto;
   }
   .Logo{
     text-align: center;

   }
   
   .d1 input{
     width: 550px;
     height: 44px;
     margin: 12px 0px 16px ;
     border: 2px solid #c4c7ce;
     background: #fff;
     overflow: hidden;
     border-right: none;
     
     border-radius: 10px 0 0 10px;
   }
   .d1 input:hover{
     box-shadow:  0 0 10px #c4c7ce;
   }
   .d1 input:active{
     border: 2px solid #4e6ef2;
   }
   .d1 button{
     width: 108px;
     height: 48px;
     line-height: 46px;
     margin-left: -5px;
     background-color: #4e6ef2;
     border: 0;
     color: #fff;
     font-size: 18px;
     border-radius: 0 10px 10px 0;
   }

   .d2{
     margin-top: 100px;
   }
