*{
  margin: 0;
  padding: 0;
}
.nav{
  height: 40px;
  padding:0 10px 0 10px;
  position: relative;
}
ul{
  display: inline-block;
  margin-left: 10px;
}
li{
  width: 50px;
  height: 40px;
  display: inline-block;
  float: left;
}
#denglu{
  
  position: absolute;
  right: 10px;
}
a{
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  top: 10px;
}
a:hover{
  border-bottom: 1px solid rgb(5, 231, 220);
}
.back{
  background-image: url(./pic/th.jpg);
 background-repeat: no-repeat;
 background-size: 100%;
}
.logo img{
  width: 36px;
  height: 36px;
  margin: 0 auto;
}

#box {
  width: 450px;
  height: 130px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
p {
  color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 25px;
}
#time {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  margin-top: -40px;
  line-height: 40px;
  color: #fff;
}



