*{
  margin: 0;
  padding: 0;
}
.nav{
  height: 40px;
  padding:0 10px 0 10px;
  position: relative;
  background-color: rgb(162, 188, 201);
}
ul{
  display: inline-block;
  margin-left: 10px;
}
li{
  width: 50px;
  height: 40px;
  display: inline-block;
  float: left;
}
#denglu{
  
  position: absolute;
  right: 10px;
}
a{
  text-decoration: none;
}
.nav a{
  
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  top: 10px;
}
.nav a:hover{
  border-bottom: 1px solid rgb(5, 231, 220);
}
.back{
  background-image: url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg2.niutuku.com%2Fdesk%2F130126%2F11%2F11-niutuku.com-5157.jpg&refer=http%3A%2F%2Fimg2.niutuku.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1656752561&t=0cd6526b6421b5ba91e60d630bf6bf96);
 background-repeat: no-repeat;
 background-size: 100%;
}
.logo img{
  width: 36px;
  height: 36px;
  margin: 0 auto;
}

#box {
  width: 450px;
  height: 130px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
p {
  color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 25px;
}
#time {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  margin-top: -40px;
  line-height: 40px;
  color: #fff;
}


#Sign{
  width: 340px;
  height: 350px;
  background-color: rgba(7, 7, 7, 0.231);
  margin: 0 auto;
  position: absolute;
  top: 200px;
  left: 600px;
}
.hea{
  margin-bottom: 20px;
}
.hea span{
  display: inline-block;
  width: 165px;
  height: 47px;
   line-height: 47px;
  text-align: center;
  border: 0;
}
.hea span a{
  color: #fff;
  border-bottom: 2px solod #fff;
}
.boy{
  margin-left: 20px;
}
.boy input{
  width: 280px;
  height: 50px;
  border: none;
  border-bottom: 2px solid rgb(14, 152, 232);
  outline: 0;
  margin-top: 20px;
  background-color:rgba(7, 7, 7, 0) ;
}
.but button{
  width: 280px;
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
  border: none;
  background-color: ;
}



